
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Ashlie Gray</div>
                <div class="masthead-heading text-uppercase">Junior Developer</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">See Projects</a>
            </div>
        </header>
        <!-- skills-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Skills</h2>
                    <h3 class="section-subheading text-muted">Here are my top three skills</h3>
                </div>
                <div class="row text-center">
                    <% @skills.each do |skill| %>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="<%= skill.icon %> fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"><%= skill.name %> </h4>
                        <p class="text-muted"><%= skill.description %> </p>
                    </div>
                <% end %>
                </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Some Projects So Far</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/upsplash/opening_menu.png" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Command Line Interface</div>
                                <div class="portfolio-caption-subheading text-muted">App to track vitals of patients in Veterinary Hospital</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img id="lux-img" class="img-fluid" src="/upsplash/le_landing2.png" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Luxe Ethique</div>
                                <div class="portfolio-caption-subheading text-muted">Rails Two-Way Marketplace</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="/upsplash/portfolio_img.png" alt="" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">My Portfolio Website</div>
                                <div class="portfolio-caption-subheading text-muted">Portfolio website build with Rails</div>
                            </div>
                        </div>
                    </div>
                    
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="startbootstrap-agency-gh-pages/assets/img/about/3.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020-2021</h4>
                                <h4 class="subheading">Bootcamp at Coder Academy</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Since getting my first taste of HTML customizing my Myspace and Tumblr, I have always been interested in development. Seeking a change earlier this year, I decided to make the change to pursue Web Development as a career. Enrolling in the CoderAcademy Bootcamp as been an amazing experience.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img id="vet-img" class="rounded-circle img-fluid" src="startbootstrap-agency-gh-pages/assets/img/about/dog.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014 - 2020</h4>
                                <h4 class="subheading">Veterinary Industry</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">After working as a Veterinary Nurse for six years and managing a Practice for two, I have built a wide variety of transferable skills. Although it is such a rewarding career, it is also a physically and emotionally demanding one, hence why I decided to make a change earlier this year.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img id="bootcamp-img" class="rounded-circle img-fluid" src="startbootstrap-agency-gh-pages/assets/img/about/1.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Interests</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">I like to be as active as I can, whether it be running, hiking or going to the gym. Since Pokemon Yellow, gaming has also been a life long obsession.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Contact
                                <br />
                                Me For More
                                <br />
                                Information
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">Email <br> ashliejanegray@gmail.com</h2>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">Copyright © Ashlie Gray 2020</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/ashliejane29" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/Ashlie-G" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/ashlie-gray-ab999791/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-right">
                    </div>
                </div>
            </div>
        </footer>
        <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">T.P.R App</h2>
                                    <p class="item-intro text-muted">Temperature, Pulse and Respiratory Tracker</p>
                                    <img class="img-fluid d-block mx-auto" src="/upsplash/opening_menu.png" alt="" />
                                    <p>We were given the task of creating a command line application that solved a problem that we faced in everyday life. When I was a Veterinary Nurse, I always wanted something to quickly track the vital signs of patients when doing rounds.</p>
                                    <ul class="list-inline">
                                        <li>Date: September 2020</li>
                                        <li>Category: Command Line Application</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Rails Two-Way Marketplace</h2>
                                    <p class="item-intro text-muted">Luxe Ethique, a place to buy pre-loved luxury handbags</p>
                                    <img class="img-fluid d-block mx-auto" src="/upsplash/wardrobe_sc.png" height="1000" alt="" />
                                    <p>The task was to build a two-way marketplace similar to that of Ebay or Etsy. As someone who is wanting to be concious of my buying habits and the impact of consumeism and the environment, I developed a marketplace that allows a user to both list or buy luxury handbags. The application involves full user authentications, administrator dashboard and payment system. </p>
                                    <p><a href="https://luxethique.herokuapp.com/" target="_blank">Open App</p></a>
                                    <ul class="list-inline">
                                        <li>Date: November 2020</li>
                                        <li>Category: Marketplace</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project Details Go Here-->
                                    <h2 class="text-uppercase">Portfolio</h2>
                                    <p class="item-intro text-muted">Portfolio Website Built With Ruby on Rails</p>
                                    <img class="img-fluid d-block mx-auto" src="/upsplash/portfolio_img.png" alt="" />
                                    <p>In term one of the bootcamp, we made a portfolio and I really enjoyed the process, however I felt I could achieve a better result with everything I have learnt since. After enjoying using rails, I decided to make a new porfolio with Ruby on Rails and implement bootstrap as well as a admin user system so I can constantly update the content and my skill set.</p>
                                    <p>Here is the link to my first portfolio made with HTML and CSS</p>
                                    <p><a href="https://ashliegray-portfolio.netlify.app/">My First Portfolio</a></p>
                                    <ul class="list-inline">
                                        <li>Date: November 2020</li>
                                        <li>Category: Portfolio</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="startbootstrap-agency-gh-pages/assets/mail/jqBootstrapValidation.js"></script>
        <script src="startbootstrap-agency-gh-pages/assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="startbootstrap-agency-gh-pages/js/scripts.js"></script>

